$vh:calc(100vh - 80px - 40vh);
//Админка
.wrapperAdmin{
    display: flex;
   
}
.AdminConWrapper{
    width: 100%;
}
.NavAdminWrapper{
    padding: 10px;
    margin: 10px;
    border-right: 2px #555555 solid;
    width: 6em;
}
.AdminMenuItem{
    width:200px;
    padding: 20px;
}


//Форма авторизации
.wrapperAuthorization{
    min-height: $vh;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    & form{
        display: block;
        padding: 25px;
        width: 400px;
        border: 2px solid #555555;
        & p,h1{
            padding-bottom: 10px;
        }
        & input{
            padding: 10px;
            font-size: 1em;
            width: 94%;
        }
        & button{
            padding: 10px;
            font-size: 1em;
            float: right;
            margin-top: 10px;
        }
        & .noAkk{
            padding: 10px 0 0 0;
            font-size: 1em;
            float: left;
            margin-top: 10px;
        }
    }
}

// TypeBar
